
header ul {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: right;
}
header nav ul li{
    margin: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-weight: bold;
}
header nav ul li a:hover{
    color:rgb(95, 95, 95);
    background-color:rgba(0, 0, 0, 0);
}


#redes img{
    width: 33px;
    display: flex;
    float: left;
    margin-left: 10px;
}

#contato {
    background-color: rgb(244, 244, 244);
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px
}

#header {
    background-color: rgb(255, 255, 255);
}
#header img {
    width: 200px;
    flex-direction: column;
    padding: 20px;
    margin-left: 40px;
}

#header { 
    box-shadow: gray;
}

#menu-mobile {
    display: block;
    float: right;
    margin-top: 20px;
  }


#ofertas h5 {
    padding: 20px;
    margin-left: 30px; 
    font-weight: bold;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 30vh;
}

/*Ultimos lançamentos*/

.grupo-ofertas h6 {
    margin-top: 20px;
}

.grupo-ofertas{
    display: flex;
    flex: wrap;
    flex-direction: wrap;
    column-gap: 20px;
    justify-content: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.card-oferta{
    width: 150px;
    justify-content: center;
    font-size: smaller;
    margin-left: 20px;
    flex-direction: wrap;
}

.card-oferta img{
    width: 80%;
}

.titulo {
    font-size:x-large;
    font-weight: bold;
    flex-direction: wrap;
}

.subtitulo {
    flex-direction: wrap;
}
.titulo-contato{
    flex-direction: wrap;
}

@media screen and (min-width: 760px) {
    .card-oferta {
        display: flex;
        flex-direction: column;
        column-gap: 40px;
        justify-content: center;
        flex-direction: wrap;
        margin-bottom: 20px;
        }
        .carousel-inner .carousel-item {
            width: 100%;
            height: 60vh;
        }
        #carouselExampleIndicators {            
            width: 100%;
            height: 60vh;
        }
}